<div class="w-full flex flex-row border-solid border-1">
  <div class="w-1"></div>
  @for(player of players; track player; let playerIndex = $index) {
  <div
    [class]="'flex py-3 border-none border-left-1 border-solid justify-content-center align-items-center ' + widthClass"
    [class.border-right-1]="playerIndex === players.length - 1">
    {{player}}
  </div>
  }
</div>
@for(round of rounds; track roundIndex; let roundIndex = $index) {
<div class="flex flex-row border-solid border-none border-bottom-1 border-left-1 w-full">
  <div class="w-1 flex justify-content-center align-items-center">{{ round }}</div>
  @for(player of players; track playerIndex; let playerIndex = $index) {
  <div [class]="'flex flex-row border-solid border-none border-left-1 ' + widthClass"
    [class.starting]="isStartingRound(roundIndex, playerIndex)"
    [class.border-right-1]="playerIndex === players.length - 1">
    <div class="flex flex-column w-6 justify-content-center align-items-center">
      {{ scores[roundIndex][playerIndex] ?? ""}}
    </div>
    <div class="flex flex-column w-6">
      <div class="flex py-1 pr-2 border-solid border-none border-left-1 justify-content-end min-h-18"
        (click)="toggleBetModal(roundIndex, playerIndex)">
        {{ bets[roundIndex][playerIndex] ?? ""}}
      </div>
      <div class="flex py-1 pr-2 border-solid border-none border-left-1 justify-content-end min-h-18 border-top-1"
        (click)="toggleAchievedModal(roundIndex, playerIndex)">
        {{ achieved[roundIndex][playerIndex] ?? ""}}
      </div>
    </div>
  </div>
  }
</div>
}